
.link {
    font-size: large;
}

#mainHead {
    text-align: center;
}

textarea {
    white-space: nowrap;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#mainHead {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.link {
    text-align: center;
    margin: 10px;
}

.link a {
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link a:hover {
    background-color: #0056b3;
}